@{
    ViewBag.Title = "Home";
}

<a href="/Dashboard/Home"> Home</a>
<a href="/Dashboard/Profile"> Profile</a>
<a href="/Dashboard/Education"> Education</a>
<a href="/Dashboard/Project"> Project</a>
<a href="/Dashboard/Reference"> Reference</a>



<h1>Portfolio Home</h1>
<br />

<h2>Name : @ViewBag.Name</h2>

<h4>Email: @ViewBag.Email</h4>

<h4>Bio  : @ViewBag.Bio</h4>